.weather{
    background-image: linear-gradient(to bottom, #2B4068, #3876AD);;
    color:white;
    width:500px;
    margin:20px auto;
    border-radius: 10px;
    box-shadow:10px -2px 20px 2px rgba(80, 79, 79, 0.3);
    padding:10px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 10px 10px 120px;
}
.city{
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    margin: 0px 5px;
    color: #e9d24e;
}
.weather-description{
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
}
.weather-icon{
    width: 150px;;
}
.temperature{
    font-size: 50px;
    font-weight: 800;
}
.parameter-row{
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 70px;
}
.parameter-label{
    text-align: left;
    font-weight: 200;
    font-size: 15px;
    color: #afc4eb;
}
.parameter-value{
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    color: #afc4eb;
}
hr{
    border: 1px solid #e9d24e;
    margin: 20px;
  }
