@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container {
  max-width: 120vh;
  margin: 2vh auto 10vh auto;
}

.logo {
  width: 50vh;
  margin: 1vh 1vh;
}

footer {
  bottom: 1vh;
  left: 1.5vh;
  margin: 5vh;
  display: flex;
  height: 2vh;
  justify-content: center;
  align-items: center;
}

footer p {
  display: inline;
}

footer img {
  height: 100%;
  width: auto;
}

.weather {
  background-image: linear-gradient(to bottom, #2B4068, #3876AD);
  ;
  color: white;
  width: 50vh;
  margin: 2vh auto;
  border-radius: 10px;
  box-shadow: 1vh -0.5vh 2vh 0.5vh rgba(80, 79, 79, 0.3);
  padding: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0vh 1vh 1vh 12vh;
}

.city {
  font-size: 2vh;
  font-weight: 700;
  line-height: 2;
  margin: 0vh 0.5vh;
  color: #e9d24e;
}

.weather-description {
  font-size: 1.5vh;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 15vh;
  ;
}

.temperature {
  font-size: 5vh;
  font-weight: 800;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
  gap: 2vh;
  align-items: center;
}

.bottom,
.bottom-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 7vh;
}


.parameter-label {
  text-align: left;
  font-weight: 200;
  font-size: 1.5vh;
  color: #afc4eb;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 2vh;
  color: #afc4eb;
}

hr {
  border: 0.2vh solid #e9d24e;
  margin: 2vh;
}

.accordion {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom, #2B4068, #3876AD);
  ;
  margin: 0.5vh auto;
  border-radius: 1vh;
  box-shadow: 1vh -0.5vh 2vh 0.5vh rgba(80, 79, 79, 0.3);
}

.forecast-icon {
  margin-left: 10%;
  width: 6vh;
}

.weekday {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.expand-more-icon {
  color: #e9d24e;
  margin: 0;
}

.weekday div {
  font-family: 'Poppins', sans-serif;
  margin-left: 10%;
  width: 25%;
}

.weekday-label {
  color: #e9d24e;
  font-size: 1.5vh;
  line-height: 1;
  font-weight: 200;
}

.weekday-date {
  color: white;
  font-size: 2vh;
  line-height: 1;
  font-weight: 800;
}

.weekday-min-max-temp {
  color: white;
  font-size: 2.5vh;
  font-weight: 800;
}

.weekday-description {
  color: #afc4eb;
  font-size: 2vh;
}



@media screen and (max-width:1100px) {
  .container {
    margin: 2vh 2vh 8vh 2vh;
  }

  .logo {
    display: block;
    width: 40vh;
    margin:2vh auto;
  }
  h2{
    margin:4vh;
  }

  p {
    font-size: 1.5vh;
  }

  .city {
    font-size: 2vh;
    font-weight: 600;
    margin: 0vh 1vh;
  }

  .weather-icon {
    width: 10vh;
  }

  .temperature {
    font-size: 4vh;
    font-weight: 600;
  }

  .bottom {
    margin: 1vh 5vh;
  }

  .weather {
    width: 90%;
    margin-top: 4vh;
  }

  .bottom-forecast {
    flex-direction: column;
    width:60%;
    align-items:stretch;
    margin: auto;
  }
  .bottom-forecast .parameter-row{
    align-items:stretch;
  }

  .parameter-label {
    font-size: 1.3vh;
  }

  .parameter-value {
    font-size: 1.3vh;
  }

  .forecast-icon {
    margin-left: 10%;
    width: 5vh;
  }

  .weekday div {
    margin-left: 7%;
    width: 30%;
  }

  .weekday-label {
    font-size: 1.3vh;
    margin: 0.5vh;
  }

  .weekday-date {
    font-size: 2vh;
    margin: 0.5vh;
  }

  .weekday-min-max-temp {
    font-size: 1.6vh;
  }

  .weekday-description {
    font-size: 1.5vh;
  }
}